.base-container{
	min-height:500px;
	
}

.tabContent{
	min-width:100%;
}

.container{
	margin-top:10px;
	width:80%;
	max-width:unset !important;
}

.home-blockquote{
	position: fixed;
    right: 5%;
    z-index: 0;
}

.nav-wrapper{
	padding-left: 2%;
}

.padding-standard{
padding: 0 0.75rem;	
}

.page-footer{
	margin-top:40px;
}

.margin-topStandard{
	margin-top:40px;	
}

.tabs {
	overflow-x:hidden;
}

.tabs .tab {
	width:33.3%;
}

.tabs .tab a {
	margin:0;
	padding:0;
}

.tabContent {
	padding:1%;
	display: inline-table;
}

.LastAds{
	background-color: rgba(255, 0, 0, 0.2);
}

.Profile{
	background-color: rgba(200, 100, 50, 0.2);
	width:100%;

}

.Categories{
	background-color: rgba(100, 100, 255, 0.2);
	min-height:300px !important;
}

.AllAds{
	background-color: rgba(0, 0, 255, 0.2);
}

.card {
	width: 30.5%;
    height: 25%;
    display: inline-grid;
    margin:1.4%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categoryBlockquote{
	display:inline-block;
	width: 24%;
}

.file-field {
	padding: 0 0.75rem;
}

.colw100 {
	width:100%;
	display:inline-block;
}

.colw100 .collection-item{
	padding-right:30px;
	padding-left:30px;
}

.collapsible-body{
	background-color:#ffff;
}

.TabSingleAd{
	background-color: rgba(0, 0, 255, 0.2);
}
