.base-wrapper{
	padding-left:20px;
}

.base-container{
	min-height:500px;
	
}

.container{
	width:80%;
	max-width:unset !important;
}

.home-blockquote{
	position: fixed;
    right: 5%;
    z-index: 0;
}

.nav-wrapper{
	padding-left: 2%;
}

.padding-standard{
padding: 0 0.75rem;	
}

.page-footer{
	margin-top:40px;
}