{% extends 'base.html.twig' %}


{% block body %}


<div class="container base-container">

    <a href="{{ path('category_create') }}" class="waves-effect waves-light btn-large">Create category</a>

    	</div>
{% endblock %}
