{% extends 'base.html.twig' %}


{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn waves-effect waves-light">Zapisz <i class="material-icons right">send</i></button>
    {{ form_end(form) }}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
