<form method="post" action="{{ path('image_delete', {'id': auction.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_image' ~ auction.id) }}">
    <button class="btn btn-danger deleteButton">Usuń zdjęcie</button>
</form>
