{% extends 'base.html.twig' %}


{% block body %}

      	<div class="container base-container">
	   		<br/>

			<h1>Sławomir Niedbała</h1>
			<h1>Dariusz Niemczycki</h1>
			<h1>Mateusz Maciąg</h1>
	   		
    	</div>

{% endblock %}
