<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

        {% block stylesheets %}
        	<link href="{{ asset('css/materialize.css') }}" rel="stylesheet" type="text/css"/>
    	{% endblock %}

    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/materialize.js') }}"></script>
        {% endblock %}
    </body>
</html>
