{% extends 'base.html.twig' %}


{% block body %}

      	<div class="container base-container">

{% if is_granted('IS_AUTHENTICATED_FULLY') == false %}

        <blockquote class="right">
      		Jesteś niezalogowany
   		</blockquote>
   		<br/>

   		<h2 class="center">
   			Witaj!
   		</h2>
   		<h4 style="margin-top:50px; text-align:center;">
   			Szukasz dobrego miejsca, aby się ogłosić? Trafiłeś idealnie!
   		</h4>

{% else %}

<script src="{{ asset('js/baseExtended.js') }}"></script>

<!-- Taby -->
 <ul id="tabs-swipe-demo" class="tabs margin-topStandard">
    <li class="tab col s3"><a class="active" href="#test-swipe-1">Ostatnie ogłoszenia</a></li>
    <li class="tab col s3"><a href="#test-swipe-2">Wszystkie ogłoszenia</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Kategorie</a></li>
  </ul>

  <!-- Ostatnie ogłoszenia -->
  <div id="test-swipe-1" class="col s12 tabContent LastAds">

<p style="clear:both; margin-left:20px;">
Przeglądasz ostatnio dodane ogłoszenia
</p>

{% for i in 0..8 %}
<!-- Karta -->
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="/singlead">Link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
<!--  -->
{% endfor %}
  </div>
  <div id="test-swipe-2" class="col s12 tabContent AllAds">

<!-- Wszystkie ogłoszenia -->

  <div class="input-field col s12" style = "padding:20px 20px 0px 20px;">
    <select>
      <option value="" disabled selected>Wybierz kategorię</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label style = "padding:20px;left:0px;">Ogłoszenia z kategorii:</label>
  </div>

{% for i in 0..20 %}
<!-- Karta -->
<!--   <div class="row">
    <div class="col s12 m7"> -->
      <div class="card">
        <div class="card-image">
          <img src="images/office.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="/singlead">Link</a>
        </div>
      </div>
<!--     </div>
  </div> -->
<!--  -->
{% endfor %}
  
<!-- Kategorie -->
  </div>
  <div id="test-swipe-3" class="col s12 tabContent Categories">

{% for category in categories %}
    <blockquote class="categoryBlockquote truncate">
      <a href="#">{{ category.name }}</a>
    </blockquote>
{% endfor %}

  </div>

<!-- Paginacja -->
  <ul class="pagination center hide pagination_home">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
  </script>

{% endif %}

</div>

{% endblock %}
