{% extends 'base.html.twig' %}


{% block body %}

      	<div class="container base-container">
	        <blockquote class="right">
	      	Jesteś niezalogowany
	   		</blockquote>
	   		<br/>

	   		<h2 class="center">
	   			Witaj!
	   		</h2>
	   		<h4 style="margin-top:50px;">
	   			Szukasz dobrego miejsca, aby się ogłosić? Trafiłeś idealnie!
	   		</h4>


    	</div>

{% endblock %}
